body {
    background: rgba(0, 0, 0, 0.897);
    text-align: justify;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-repeat: repeat;

}

@media screen and (max-width: 730px) {
    .showcase {
        display: flex;
        flex-direction: column;
    }

    .codechef {
        background-color: rgba(255, 255, 255, 0.838);
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 15px;
    }

    .github {
        background-color: rgba(255, 255, 255, 0.838);
        display: flex;
        justify-content: space-around;
        border-radius: 10px;
        padding-right: 60px;
        padding-left: 70px;

    }
}

.title {
    color: rgb(238, 228, 212);
    font-size: 25pw;
    transition: 1s ease;
    animation: title 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes title{
    0% {font: "copperplate";}
    20% {font: "times new roman";}
    40% {font: "papyrus";}
    60% {font: "Lucida Console";}
    80% {font: "Georgia";}
    100% {font: "Monaco";}
}
.title:hover {
    color: rgb(107, 192, 192);
}

div {
    width: 10;
}

.content {
    color: aliceblue;
    margin: 20px;
}

#photo {
    height: 10%;
    width: 20%;
    border-radius: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    opacity: 0.07;
    background-image: url('https://thumbs.dreamstime.com/z/coding-programmer-abstract-background-front-end-applications-color-concept-css-code-colorful-seo-concepts-better-177265548.jpgs');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: 1;
}

.container {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    font-size: 1.1em;
    z-index: 4;
}

.showcase {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.codechef {
    background-color: rgba(255, 255, 255, 0.838);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.github {
    background-color: rgba(255, 255, 255, 0.838);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding-right: 60px;
    padding-left: 60px;
}

.github a {
    text-decoration: none;
    color: black;
    font-weight: 2em;
}

.skills {
    background-color: rgba(240, 255, 255, 0.308);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 2%;
    margin-right: 2%;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(240, 248, 255, 0.637);
    border-radius: 10px;
}

#Edu{
    background-color: rgba(240, 255, 255, 0.308);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 2%;
    margin-right: 2%;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(240, 248, 255, 0.637);
    border-radius: 10px;    
}
#lang {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#framework {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#devtools {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.Contact {
    background-color: rgba(240, 255, 255, 0.308);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 2%;
    margin-right: 2%;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(240, 248, 255, 0.637);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h3 {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #logo {
        width: 20%;
        height: 10%;
    }

    #photo {
        height: 20%;
        width: 40%;
        box-shadow: 5%;
    }

    .Contact {
        background-color: rgba(240, 255, 255, 0.308);
        padding-top: 25px;
        padding-bottom: 25px;
        margin-left: 2%;
        margin-right: 2%;
        border-style: solid;
        border-width: 4px;
        border-color: rgba(240, 248, 255, 0.637);
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

}

.footer {
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom right, rgb(116, 192, 160), rgb(0, 196, 251));
    font-style: italic;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}